@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.top-nav-collapse {
    background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
    background: #263238 !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    }
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.fa-play:before {
    margin-left: .3rem;
}

/* Steps */
.step {
    list-style: none;
    margin: 0;
}

.step-element {
    display: flex;
    padding: 1rem 0;
}

.step-number {
    position: relative;
    width: 7rem;
    flex-shrink: 0;
    text-align: center;
}

.step-number .number {
    color: #bfc5ca;
    background-color: #eaeff4;
    font-size: 1.5rem;
}

.step-number .number {
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    border-radius: 10rem;
}

.step-number::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 48px;
    bottom: -2rem;
    margin-left: -1px;
    border-left: 2px dashed #eaeff4;
}

.step .step-element:last-child .step-number::before {
    bottom: 1rem;
}

.top-nav-collapse {
    background-color: #263238 !important;
}

@media screen and (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #263238 !important;
    }
}


.alert-arrow {
    border: 1px solid #60c060;
    color: #54a754;
}

.alert-arrow .alert-icon {
    position: relative;
    width: 3rem;
    background-color: #60c060;
}

.alert-arrow .alert-icon::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: .75rem solid transparent;
    border-bottom: .75rem solid transparent;
    border-left: .75rem solid #60c060;
    right: -.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.alert-arrow .close {
    font-size: 1rem;
    color: #cacaca;
}

.alert-arrow-danger {
    border: 1px solid #da4932;
    color: #ca452e;
}

.alert-arrow-danger .alert-icon {
    background-color: #da4932;
}

.alert-arrow-danger .alert-icon::after {
    border-left: .75rem solid #da4932;
}

.dark-blue {
    color: #263238;
}

.roboto-fonts {
    font-family: 'Roboto', sans-serif;
}

.btn-outline-dark-danger {
    border: 2px solid #b1432f;
    color: #b1432f;
}

.btn-outline-dark-green{
    border: 2px solid #247d29;
    color: #247d29;
}

.collage {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 2.5em;
    margin: 1em 1.5em 2em;
}


.play-list{
    overflow: hidden;
    padding: 0 2rem;
    max-width: 100%;
}

.play-list-item{
    -webkit-box-shadow: 8px 0px 16px 0px #ffffff !important;
    box-shadow: 8px 0px 16px 0px #ffffff !important;
    margin: 0;
    padding: 0;
    margin-right: -5rem;
}

.play-list-item > img{
    width: 100%;
}

#img_for_cropper{
    width: 100% !important;
}

#img_for_cropper img{
    width: 100% !important;
}
